<div class="container">
  <div class="flex flex-end">
    <% if current_user %>
      <% if current_user.admin? %>
        <%= link_to "#{ t "page.user-index-title" }", users_path, class: 'btn btn-warning nav-button' %>
      <% end %>
      <%= link_to "#{t "attributes.logout"}", logout_path, class: 'btn btn-danger nav-button' %>
    <% end %>
  </div>
</div>
